body {
    background-color: #F9E8A7;
}
h1 {
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-around;
    
}

p {
    text-align: center;
    font-size: 18px;
}

a .contact-link {
    text-decoration: underline;
}

